
@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}


<div class="layui-container">
    <div class="row">

        <div class="layui-col-md12">
            <ol>
                <li class="active"><div class="i"><i>4</i></div><span class="tsl" data-phase-id="r_p_createAccount">添加完成</span></li>
            </ol>
        </div>
        <div class="layui-col-md12">
            <h1> 添加成功！！！ @Html.ActionLink("查看已有问卷", "LookSurvey", new { })</h1>
        </div>
    </div>
</div>
