@model IEnumerable<GeneralSurvey_Data.Model.Topicgroups>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
</head>
<body>
    <div class="layui-container-full">
        <div class="layui-row">
            <div class="layui-col-md12  layui-bg-cyan" style="height:60px; line-height:60px;">
                <h2 style="padding-left:3%;">说明：1.如果要调整答题顺序请直接修改您的题号</h2>
            </div>
            <div class="layui-col-md12">
                <table class="layui-table" id="LAY_table_user" lay-size="sm" lay-filter="useruv"></table>
            </div>
            <div class="layui-col-md12">
                <input class="layui-btn layui-btn-sm layui-btn-fluid" id="nextStep03" type="button" value="下一步" />
            </div>
        </div>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs layui-bg-green" data-method="notice" lay-event="edit">修改</a>
        <a class="layui-btn layui-bg-green layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script src="~/js/home.js"></script>
    <script src="~/js/webcontent.js"></script>
    <script type="text/javascript">

        scriptjs({
            jsonT: "@Url.Action("jsonTable", "LayoutWeb")",
            del: "@Url.Action("Delete", "LayoutWeb")",
            edit:"@Url.Action("Edit","LayoutWeb")"
        });


        $("#nextStep03").click(function () {
            //弹出框设置
                layui.use('layer', function () {
                    layer = layui.layer;
                    //询问框
                    layer.confirm('注意', {
                        btn: ['是否确定当前排序', '取消'] //按钮
                    }, function () {
                        // 直接替换成下一步
                            var enelmnt = parent.parent.document.getElementById("twoStep").setAttribute("src", "@Url.Action("AddSucceed", "Home")");
                    }, function () {

                    });

                });

        });
    </script>
</body>
</html>
