@model IEnumerable<GeneralSurvey_Data.Model.Topicgroups>
@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<div class="layui-container-full">
    <div class="layui-row">
        <hr style="height:3px;" />
        <div class="layui-col-md12">
            <ol>
                <li class="active"><div class="i"><i>3</i></div><span class="tsl" data-phase-id="r_p_createAccount">确定问卷排版</span></li>
            </ol>
        </div>
        <div class="layui-col-md12">
            <table class="layui-table" id="LAY_table_user" lay-size="sm" lay-filter="useruv"></table>
        </div>
        <div class="layui-col-md12">
            <input class="layui-btn layui-btn-sm layui-btn-fluid" id="nextStep03" type="button" value="下一步" />
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-bg-green" data-method="notice" lay-event="edit">修改</a>
    <a class="layui-btn layui-bg-green layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="~/js/home.js"></script>
<script src="~/js/webcontent.js"></script>
<script type="text/javascript">
        scriptjs({
            jsonT: "@Url.Action("jsonTable", "LayoutWeb")",
            del: "@Url.Action("Delete", "LayoutWeb")",
            edit:"@Url.Action("Edit","LayoutWeb")"
        });


        $("#nextStep03").click(function () {
            //弹出框设置
                layui.use('layer', function () {
                    layer = layui.layer;
                    //询问框
                    layer.confirm('是否使用当前提干排序', function (index) {
                     
                        // 直接替换成下一步
                        var enelmnt = parent.document.getElementById("twoStep").setAttribute("src", "@Url.Action("AddSucceed", "Home")");
                        layer.close(index);


                    }, function () {

                    });

                });

        });
</script>
