
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加成功</title>
    <link rel="icon" href="~/favicon.ico" type="img/x-ico" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head> 
<body style="text-align:center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--头部开始-->
                <header>
                    <div class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container">
                            <div class="col-md-7 col-md-offset-2">
                                <div class="navbar-header">
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="col-md-12 text-center" style="margin-top:20%;">
                    <i class="fa fa-check-circle-o fa-lg" style="font-size:50px;  border-radius:1em; width:50px; height:40px; color:green; "></i>
                    <h4>您的信息已经提交，感谢您的参与</h4>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
