
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Succeed</title>
</head>

<body>
    <div>
        <p>@ViewBag.Message</p><a href="">返回</a>
    </div>
</body>
</html>
