*
{
    font-family: 'SimHei';
}

.h5
{
    font-weight: 600;
    color: #000000;
}

b
{
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0.4%;
}

p
{
    font-size: 14px;
    font-weight: 500;
    margin-top: 1%;
    text-indent: 2%;
    line-height: inherit;
}

.h5
{
    font-size: 15px;
    color: #625c5c;
}

textarea
{
    max-width: 620px;
}

option
{
    text-align: center;
}

.navbar-brand
{
    font-size: 24px;
}

textarea
{
    resize: none;
}

#mits
{
    font-size: 20px;
    background: #222222;
    width: 300px;
    height: 45px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
}
