<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
    <link href="~/lib/jquery-easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui/demo/demo.css" rel="stylesheet" />
    <script src="~/lib/jquery-easyui/jquery.min.js"></script>
    <script src="~/lib/jquery-easyui/jquery.easyui.min.js"></script>
    <script src="~/lib/jquery-easyui/easyloader.js"></script>
</head>
<body style="background:#d9d9d9;">
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
